body {
    border: 2px solid black;
    padding: 124.5px;
    background-image: url('https://www.gonzaga.edu/-/media/Website/Images/Body-Content/Giving/Zags-at-Home/Zoom-BGs/spires-dark-blue.ashx?la=en&hash=EDD0920EFC7D8A967AFA14E2789AC1549F0F889E');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
